<style>
    .streamVideo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .itemStreamVideo{
         width:30vw;
         height:40vh;
         /*-webkit-transition: width 2s;  For Safari 3.1 to 6.0 */
         transition: 1s;
    }

    .itemRemoveStreamVideo{
        border-color: crimson; 
         border-style: solid
    }

    .itemScreenStream{
        border-color: red;
        border-style: solid;
        width: 60vw;
        height: 60vh;
        margin: 0 auto 3px;
        transition: 1s;
    }

    
</style>
<script src="./js/erizo.js" type="text/javascript"></script>

<div class="header-join" style="padding-left: 20px;">
    <p>Room Name: {{roomJson.name}}</p>
</div>
<div class="container">
    <div>
        <div ng-show="my.isShowEnterUserName">
            <input type="text" id="inpUserName"  >
            <button type="button" ng-click="accessRoom()">Join</button>
        </div>
        <button id="btnShareScreen" type="button" ng-cloak ng-show="my.isShowButtonShareScreen" ng-click="Share()">Share Screen</button>
    </div>
    <div class="alert alert-danger" id="errorDiv" role="alert" ng-cloak ng-show="my.isShowError">
        {{error}}
    </div>
</div>
<div id="showShareScreen" ng-cloak ng-show="my.isShowShareScreen">
    <div id="screen_stream" class="itemScreenStream">
        
    </div>
</div>
<div id="showVideoConfernce" ng-cloak ng-show="my.isShowVideoConfernce">
    <div class="streamVideo" >
        <div id="localStream" style="border-color: chartreuse; border-style: solid" class="itemStreamVideo"></div>
    </div>
</div>